@import '../global/variables';

.button {
  border: none;
  background: $white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;

  &.primary {
    background-image: linear-gradient(-1deg, transparent 49%, rgba(255, 255, 255, 0.25) 50%, rgba(225, 225, 225, 0));
    background-color: rgb(0, 15, 245);
    color: $white;
    font-weight: bold;
  }

  &.secondary {
    // Something here 😬...
  }

  &[disabled] {
    background: $grey;
    cursor: not-allowed;
    color: $white;
  }
}
