@import '../global/variables';

.card {
  padding: 16px 16px 8px;
  background: $white;
  border-radius: 4px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, .25) 0 6px 25px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
