@import '../global/variables';

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;

  .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    padding: 10px;
    align-items: center;
  }

  .logo {
    width: 70px;
  }

  p {
    margin: 0;
  }
}
