@import '../global/variables';

.grid {
  &.row {
    display: flex;
    flex-direction: row;
    margin: 0 -10px;

    @media screen and (min-width: $sm) {
      margin: 0 -20px;
    }
  }

  &.column {
    display: flex;
    flex-direction: column;
    margin: 0 10px;

    @media screen and (min-width: $md) {
      margin: 0 20px;
    }
  }

  // NOTE: Just doing a handful of grid breakpoint examples for purpose of test
  @media screen and (min-width: $xs) {
    &.xs-12 {
      width: 100%;
    }
  }

  @media screen and (min-width: $sm) {
    &.sm-4 {
      width: 33%;
    }
  }

  @media screen and (min-width: $md) {
    &.md-4 {
      width: 33%;
    }
  }
}
