@import '../global/variables';

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;

  a {
    color: $grey;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding: 10px;
  }

  .logo {
    width: 40px;
  }

  .offerSection {
    width: 100%;
    color: $white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background: $notAsFancy;

    p {
      margin: 0;
    }
  }
}
