.heading {
  h1, &.h1 {
    font-size: 48px;
    margin-bottom: 50px;
  }

  h2, &.h2 {
    font-size: 40px;
  }

  h3, &.h3 {
    font-size: 36px;
  }

  h4, &.h4 {
    font-size: 30px;
  }

  h5, &.h5 {
    font-size: 24px;
  }

  h6, &.h6 {
    font-size: 20px;
  }
}
