@import 'variables';

html {
  overflow-y: auto;
}

hr {
  border: none;
  background: $lightGrey;
  height: 1px;
  margin-bottom: 10px;
}

ul {
  list-style-type: circle;
  margin-left: 0;

  li {
    list-style-position: inside;
  }
}

main {
  min-height: 50vh;
}

.border {
  background: $fancy;
  height: 3px;
  width: 100%;
}
