@import 'variables';

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.grey {
  color: $grey;
}

.fancy {
  background-image: $fancy;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
