// Colours
$white: white;
$black: black;
$grey: #4a4a4a;
$lightGrey: #e9e6e6;
$fancy: linear-gradient(to right, rgb(245, 100, 0) 0%, rgb(255, 0, 0) 25%, rgb(181, 0, 125) 50%, rgb(33, 66, 156) 75%, rgb(0, 113, 255) 100%);
$notAsFancy: linear-gradient(to right, rgb(255, 100, 0) 0%, rgb(255, 10, 80) 50%, rgb(255, 0, 165) 100%);

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
